.aboutMeMain{
    display: flex;
    width: max-content;
    height: max-content;
    padding: 30px;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    opacity: 1;
}
.profileImage{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
.aboutMeTextZonedark{
    margin-top: 10%;
    color: rgb(143, 136, 136);
    font-family: 'Lato', sans-serif;
}
.aboutMeTextZonelight{
    margin-top: 10%;
    color: rgb(143, 136, 136);
    font-family: 'Lato', sans-serif;
}
.button{
    margin-top: 20px;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border-style: none;
    background-color: yellow;
    color: rgb(54, 47, 47);
}
.aboutMeToggler{
    z-index: 99999;
    position: absolute;
    height: 30px;
    width: 100px;
    background-color: yellow;
    top: 40%;    
    left: 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    opacity: 0.5;
    z-index: 1;
    cursor: pointer;
    transform-origin: 0% 100%;
    -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg) translateX(-50%);
}
.aboutMeToggler:hover{
    opacity: 1;
}